.op_main{
    border: 1px solid;
    width: 100%;
    background-color: rgb(200, 202, 204);
    padding: 3%;  
}
.op_main p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;  
    -webkit-box-orient: vertical;
    line-height: 1.5;
}
#op_1_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cards{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    font-size: 15px;
    border-radius: 5px;
    width: 30%;
    height: 100%;
}
#op_2_main{
   display: flex;
   align-items: center;
   justify-content: center;
}
#op_2_main div{
    flex: 50%;
    display: flex;
    justify-content: center;
}
#op_2_main p{
    flex: 50%;
}
#op_3_main h4{
    margin-bottom: 10px;
}
.border_green_main{
    border: 2px solid rgb(4, 245, 4);
}
.main_height{
    height: 200px;
}

