.op_main{
    border: 1px solid;
    width: 100%;
    background-color: rgb(200, 202, 204);
    padding: 2%;
}
#op_1_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cards{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    font-size: 15px;
    width: 30%;
    border-radius: 5px;
}
#op_2_main{
   display: flex;
   align-items: center;
   justify-content: center;
}
#op_2_main div{
    flex: 50%;
    display: flex;
    justify-content: center;
}
#op_2_main p{
    flex: 50%;
}